<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Evaluate News Article using NLP</title>
</head>
<body>
    <header>
        <h1 class="title">Evaluate News Article using Natural Language Processor</h1>
    </header>

    <main>
        <div class="container">
            <form>
                <label for="url">Enter a URL</label>
                <input type="text" id="url" name="url" placeholder="https://www.example.com" required>
                <input type="submit" id="submit"name="submit" value="Submit">
                <input type="reset" id="reset"name="reset" value="Reset">
            </form>
            <div id="url_validation">
            </div>
        </div>
    </main>

    <section>
        
        <div id="report">
            <h2 id="analysis">Analysis</h2>
            <ul>
                <li id="agreement"></li>
                <li id="confidence"></li>
                <li id="irony"></li>
                <li id="model"></li>
                <li id="score"></li>
            </ul>
        </div>
    </section>
    <footer>
        <p>Project by Tiago Costa Rebelo.</p>
    </footer>
</body>
</html>