<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate News Article using NLP</title>
</head>
<body>
    <header>
        <h1 class="title">Evaluate News Article using Natural Language Processor</h1>
    </header>

    <main>
        <div class="container">
            <form>
                <label for="url">Enter a URL</label>
                <input type="url" id="homepage" name="homepage" placeholder="https://www.example.com" required>
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </main>

    <section>
        <h2 class="analysis">Analysis</h2>
        <div class="report">
            <ul>
                <li>TBA</li>
                <li>TBA</li>
                <li>TBA</li>
                <li>TBA</li>
            </ul>
        </div>
    </section>
    <footer>
        <p>Project by Tiago Costa Rebelo.</p>
    </footer>
</body>
</html>