@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto:wght@300&display=swap');
// font-family: 'Arvo', serif;
// font-family: 'Roboto', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    font-family: 'Arvo', serif;
}


